<!doctype html>
<html>

<head>

<meta charset="utf-8">

<title>NewsRec</title>

<meta name="description" content="_______________INSERT_DECRIPTION_HERE_______________">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->

<link rel="stylesheet" href="../static/css/styles.css">

</head>

<body>

	<header class="masthead" role="banner">

		<div class="wrap wrap--guttered maxwidth maxwidth--l">

			<a href="/" title="_______________INSERT_TITLE_HERE_______________">

				<svg version="1.1" width="180" height="10" class="logo" viewBox="0 0 180 10" role="image">
					<title id="svg-logo-title">zitrusfrisch HTML StarterKit</title>
					<!--[if gte IE 9]><!-->

					<image src="images/logo.png" class="logo" xlink:href="" alt="Logo" />
				</svg>
			</a>

		</div>

	</header>


<!-- Grid-System -->
	<section class="content">

		<header class="wrap wrap--guttered maxwidth maxwidth--l">
			<h2 class="margin--none">Related Articles</h2>
			<p class="text--light text--big">Here are some articles that you might enjoy! </p>
			<hr>
		</header>

		<div class="wrap wrap--guttered">

			<div class="grid grid--guttered">
				<article class="grid__cell grid__cell--xxs-1-2">
					<div class="mediabox mediabox--2-1">
						<iframe src="{{ url0 }}"></iframe>
					</div>
					<p><a href="{{ url0 }}" >Article 1</a></p>
				</article>
				<article class="grid__cell grid__cell--xxs-1-2">
					<div class="mediabox mediabox--2-1">
						<iframe src="{{ url1 }}"></iframe>
					</div>
					<p><a href="{{ url1 }}" >Article 2</a></p>
				</article>
        <article class="grid__cell grid__cell--xxs-1-2">
					<div class="mediabox mediabox--2-1">
						<iframe src="{{ url2 }}"></iframe>
					</div>
					<p><a href="{{ url2 }}" >Article 3</a></p>
				</article>
				<article class="grid__cell grid__cell--xxs-1-2">
					<div class="mediabox mediabox--2-1">
						<iframe src="{{ url3 }}"></iframe>
					</div>
					<p><a href="{{ url3 }}" >Article 4</a></p>
				</article>



			</div>

		</div>

	</section>




<!-- JavaScript -->

	<script src="js/functions.min.js"></script>

</body>

</html>
