<!doctype html>
<html>

<head>

<meta charset="utf-8">

<title>NewsRec</title>



<!-- CSS -->

<link rel="stylesheet" href="../static/css/styles.css">

</head>

<body>



<!-- Text -->

	<section class="content content--alt">

		<header class="wrap wrap--guttered maxwidth maxwidth--l">
			<h2 class="margin--none">NewsRec</h2>
			<p class="text--light text--big">Hi! We're NewsRec. We help you find new news. Type in your Twitter Handle so we can learn more about you! (Make sure your account is set to 'public')</p>

			<form action="{{ url_for('articles') }}" method="post">
					Twitter Handle:
					<input type="text" name="handle">
			</form>
			<hr>
		</header>

		<div class="wrap wrap--guttered">

			<div class="grid grid--guttered">

				<article class="grid__cell grid__cell--xxs-1-6">
					<div class="mediabox mediabox--2-1">
						<img src="../static/images/ellen.png" width="400" height="400" alt="Demo Image" />
					</div>
				</article>
				<article class="grid__cell grid__cell--xxs-1-6">
					<div class="mediabox mediabox--2-1">
						<img src="../static/images/fallon.png" width="400" height="400" alt="Demo Image" />
					</div>
				</article>
				<article class="grid__cell grid__cell--xxs-1-6">
					<div class="mediabox mediabox--2-1">
						<img src="../static/images/gates.png" width="400" height="400" alt="Demo Image" />
					</div>
				</article>
				<article class="grid__cell grid__cell--xxs-1-6">
					<div class="mediabox mediabox--2-1">
						<img src="../static/images/jb.png" width="400" height="400" alt="Demo Image" />
					</div>
				</article>
				<article class="grid__cell grid__cell--xxs-1-6">
					<div class="mediabox mediabox--2-1">
						<img src="../static/images/obama.png" width="400" height="400" alt="Demo Image" />
					</div>
				</article>
				<article class="grid__cell grid__cell--xxs-1-6">
					<div class="mediabox mediabox--2-1">
						<img src="../static/images/katyperry.png" width="400" height="400" alt="Demo Image" />
					</div>
				</article>

				<!-- @justinbieber, @BarackObama, @TheEllenShow, @Cristiano, @jimmyfallon, @BillGates

				https://www.twitter.com/justinbieber
				https://www.twitter.com/BarackObama
				https://www.twitter.com/TheEllenShow
				https://www.twitter.com/Cristiano
				https://www.twitter.com/jimmyfallon
				https://www.twitter.com/billgates -->


<!-- JavaScript -->

	<script src="js/functions.min.js"></script>

</body>

</html>
